
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
}

main {
    width: 80%;
    margin: auto;
    padding-top: 20px;
}

#note-form {
    margin-bottom: 20px;
}

#note-content {
    width: 100%;
    height: 100px;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

#notes-display h2 {
    color: #333;
}

#notes-container {
    background-color: white;
    border: 1px solid #ddd;
    padding: 10px;
}
